@use 'variables';

.footer {
    width: 100%;

    background: variables.$background-card;
    box-shadow: variables.$shadow-card;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0;
    text-align: center;
    &-content {
        h1 {
            color: variables.$primary-color;
            font-size: 28px;
        }
    }
}

@media (max-width: 550px){
    .footer {
        display: flex;
        flex-direction: column;
    }
}