.user {
  padding: 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.user picture {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.user picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.user .user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.user .user-content h1 {
  font-size: 32px;
}
.user .user-content p {
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 1080px) {
  .user {
    padding: 0 24px 24px;
  }
  .user picture {
    width: 140px;
    height: 140px;
    margin-top: -70px;
  }
  .user .user-content h1 {
    font-size: 28px;
  }
  .user .user-content p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .user {
    padding: 0;
    flex-direction: row;
    row-gap: 0;
  }
  .user picture {
    width: 180px;
    height: 180px;
    margin-top: 0;
  }
  .user picture img {
    border-radius: 12px 0 0 12px;
  }
  .user .user-content {
    margin: 0 auto;
    row-gap: 4px;
  }
}
@media (max-width: 550px) {
  .user {
    flex-direction: column;
    row-gap: 6px;
    padding: 24px;
  }
  .user picture {
    width: 140px;
    height: 140px;
  }
  .user picture img {
    border-radius: 12px;
  }
}
.social {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 24px;
}
.social .social-link {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #F2F5F9;
  color: #2C2D2E;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.social .social-link:hover {
  color: #FFF;
  background: #107fd2;
  transform: translateY(-12px);
}
.social .social-link i {
  font-size: 22px;
}

@media (max-width: 1080px) {
  .social {
    gap: 12px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .social {
    gap: 8px;
  }
  .social .social-link {
    width: 40px;
    height: 40px;
  }
  .social .social-link i {
    font-size: 18px;
  }
}
.about {
  padding: 32px;
}
.about p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 12px;
}

@media (max-width: 1080px) {
  .about {
    padding: 14px;
  }
  .about p {
    font-size: 14px;
  }
}
.projects {
  grid-column: 1/3;
  padding: 32px 40px;
}
.projects #project-content {
  margin-top: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects #project-content .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  border-radius: 6px;
  padding-bottom: 12px;
  border: 1px solid #F2F5F9;
}
.projects #project-content .project:hover strong {
  color: #107fd2;
}
.projects #project-content .project:hover picture img {
  transform: scale(1.1);
}
.projects #project-content .project picture {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.projects #project-content .project picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}
.projects #project-content .project strong {
  font-size: 16px;
  font-weight: 600;
  color: #2C2D2E;
  padding: 0 18px;
  text-align: center;
  transition: all 0.4s;
}
.projects #project-content .project div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0 8px;
  margin-top: auto;
}
.projects #project-content .project div span {
  font-size: 12px;
  font-weight: 300;
  color: #2C2D2E;
  padding: 4px 8px;
  border-radius: 2px;
  background: #E6EEF5;
}

@media (max-width: 1080px) {
  .projects {
    padding: 24px;
  }
  .projects #project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .projects #project-content {
    display: flex;
    flex-direction: column;
  }
  .projects #project-content .project picture {
    height: 180px;
  }
}
.footer {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7% 0;
  text-align: center;
}
.footer-content h1 {
  color: #334155;
  font-size: 28px;
}

@media (max-width: 550px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F5F9;
  color: #334155;
  font: 400 16px "inter", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px;
  width: 100%;
  max-width: 1366px;
  padding: 0 24px;
  margin: 160px auto 0;
}
.app .card {
  border-radius: 12px;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.app .card .subtitle {
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .app {
    gap: 40px;
    grid-template-columns: auto 1fr;
    margin: 120px 0;
  }
}
@media (max-width: 1080px) {
  .app {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }
}
@media (max-width: 550px) {
  .app .card .subtitle {
    font-size: 24px;
  }
}/*# sourceMappingURL=global.css.map */