@use 'variables';

.social {
    display: flex;
    column-gap: 8px;
    margin-top: 24px;

    .social-link {
        width: 46px;
        height: 46px;
    
        border-radius: 4px;
        background: variables.$background-body;

        color: variables.$secondary;

        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;

        &:hover {
            color: #FFF;

            background: variables.$link;
            transform: translateY(-12px);
        }

        i {
            font-size: 22px;
        }
    }
}

@media (max-width: 1080px) {
    .social {
        gap: 12px;
        margin-top: 12px;
    }
}

@media (max-width: 768px) {
    .social {
        gap: 8px;
        .social-link {
            width: 40px;
            height: 40px;

            i {
                font-size: 18px;
            }
        }
    }
}